################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASPTest1/bin/Debug/net6.0
/ASPTest1/obj
